@import '../mixins';
@import '../colors';

.ConstraintsGrid {
	 display: grid; 
  grid-template-columns: 3fr 1fr 1fr 1fr 3fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 4px 8px; 
  grid-template-areas: 
    "empty tochnoe pribl zna4 abs"
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."; 
  justify-items: center; 
  align-items: flex-end; 
}

.GridHeader {
	font-weight: 300;
	text-align: center;
	font-size: 12px;
}

.empty { grid-area: empty; }
.tochnoe { grid-area: tochnoe; }
.pribl { grid-area: pribl; }
.zna4 { grid-area: zna4; }
.abs { grid-area: abs; }

.ModalContainer {
	@include gradient;
	// width: 80%;
	border: 1px solid $black;
	border-radius: 5px;
	padding: 10px 30px;

	.handle {
		cursor: move;
	}
	
	h5 {
		text-align: center;
		margin: 0;
		padding-bottom: 5px;
	}

	&-Buttons {
		text-align: end;
		& > :not(:last-child) {
			margin-right: 15px;
		}
	}

	&-Divider {
		content: "";
		margin: 10px -30px;
		height: 1px;
		width: calc(100% + 60px);
		background-color: $black;
	}
}

.Svg {
	.element {
		stroke: $deep-blue;
	}
	
	&--Active {
		.element {
			stroke: $yellow;
		}
		svg {
			g {
				opacity: 1;
				#border {
					stroke: $deep-blue;
				}
			}
		}
	}
}

