@import '../colors';

.AbsValues {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-self: flex-start;

	.AbsValue {
		display: flex;
		flex-direction: column;

		height: 42px;

		&--Label {
			font-size: 10px;
			font-weight: 300;
			text-align: center;
		}

		&--Container {
			border: 1px solid $black;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			padding: 2px 5px;
		}

		&--Value {
			border-bottom: 0.5px solid $black;
			display: block;
			margin-right: 2px;
		}

		&--LimitValue {
			border-bottom: 0.5px solid $black;
			display: block;
			width: 20px;
			height: 20px;
			margin-left: 2px;
			margin-right: 2px;
			text-align: center;
		}

		&--LimitValue.InputNumber {
			background: none;
			border: none;
			border-bottom: 0.5px solid $black;
		}

		&--PlusMinus {
			background-image: url('../assets/plus-minus-inactive.svg');
			display: block;
			width: 10px;
			height: 12px;
			&--Active {
				background-image: url('../assets/plus-minus-active.svg');
			}
		}
	} 

	& > :not(:last-child) {
		margin-right: 5px;
	}
}

.AbsValueSettingButton {
	background-image: url('../assets/cursor.svg');
	background-repeat: no-repeat;
	background-position: center;
	height: 30px;
	width: 36px;
}

.TogglerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	.Toggler {
		margin-left: 20px;
		width: 65px;
		height: 35px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../assets/switch-off.svg');
		&--on {
			background-image: url('../assets/switch-on.svg');
		}

		&:hover {
			cursor: pointer;
		}
	}
}
