.HoverInputRequestMenu {
	display: flex;
	flex-direction: column;
	width: 80px;
	justify-items: center;

	& > label {
		display: flex;
		flex-direction: column;
	}

	& > button {
		margin-top: 10px;
	}
	& > label > input {
		background: none;
		outline: none;
		border: none;
		border-bottom: 1px solid black;
	}
}
