@import '../colors.scss';

.LegendContainer {
	font-weight: 300;
	padding: 20px 30px;
	border: 1px solid $black;
	background-color: $white;
	position: absolute;
	bottom: 30px;
	left: 0;
}

.LegendContent {
	display: flex;
	flex-direction: column;
	.LegendEntry {
		display: flex;
		align-items: center;
		flex-direction: row;
		& > img {
			margin-right: 20px;
		}
	}
}

.LegendHeader {
	text-align: center;
	margin-bottom: 10px;
}
