@import '../colors.scss';
@import '../mixins.scss';

.ScaleViewWrapper {
	align-self: flex-end;
	position: absolute;
	bottom: 30px;
	right: 0;
}

.OpenedContainer {
	.OpenedContainerEntry {
		text-align: center;
		border: 1px solid $black;
	}
	.Scrollable {
		overflow-y: scroll;
		height: 80px;
	}
}

.OpenedContainerInput {
	@include gradient;
	border: 1px solid $black;
	& > input {
		color: $black;
		background: none;
		border: none;
		text-align: center;
		text-decoration: underline;
		font-family: 'Roboto';
	}
}

.ScaleViewContainer {
	height: 24px;
	border: 1px solid $black;
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: center;


	.ScaleLabel {
		margin-right: 5px;
	}
	.CurrentScale {
		font-weight: bold;
		color: $light-blue;
		background-image: url("../assets/scale_underline.svg");
		background-repeat: no-repeat;
		background-position: 0 1em;
		background-size: 100%;
												 
		&:hover {
			cursor: pointer;
		}
	}
}
