@import '../colors';

.StatusBar {
	padding: 0 15px;
	color: $gray;
	font-weight: 300;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgba($black, 0.5);
}
