@import '../mixins';

.toolbar {
	@include gradient;
	padding: 0 15px;
	height: 40px;
	mix-blend-mode: normal;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ToolbarVerticalBar {
	background-image: url('../assets/bar.svg');
	width: 2px;
	height: 50%;
	margin: 0 5px;
}
