@import '../colors';
@mixin iconimage($name) {
	$url:"../assets/tool_icons/#{$name}.svg";
	background-color: $light-blue;
	mask: url($url) no-repeat 50% 50%;
}

.ToolButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;

	&--line {
		@include iconimage("line");
	}

	&--point {
		@include iconimage("point");
	}

	&--bevel {
		@include iconimage("bevel");
	}

	&--biblio {
		@include iconimage("biblio");
	}

	&--constraints {
		@include iconimage("constraints");
	}

	&--curve {
		@include iconimage("curve");
	}

	&--ellipse {
		@include iconimage("ellipse");
	}

	&--linearsize {
		@include iconimage("linearsize");
	}

	&--radialsize {
		@include iconimage("radialsize");
	}

	&--rectangle {
		@include iconimage("rectangle");
	}

	&--round {
		@include iconimage("round");
	}

	&:hover {
		cursor: pointer;
		border: 2px solid $light-blue;
	}
	
	&--active {
		& > div {
			background-color: $yellow;
		}
		background-color: $light-blue;		
	}

	&--disabled {
		& > div {
			background-color: rgba($black, 0.5);
		}
	}
}
