@import '../colors';
@import '../mixins';

.ToolInputBar {
	font-weight: 300;
	height: 30px;
	background-color: $gray;
	padding: 0 15px;
	color: $black;
	display: flex;
	flex-direction: row;
	align-items: center;

	&--Label {
		margin-right: 15px;
	}

	&--Button {
		@include gradient;
		border-radius: 6px;
		border: 1px solid rgba($black, 0.4);
		padding: 3px 10px;
		
		&:hover {
			cursor: pointer;
		}
	}
}

.ToolInputBarField {

	&--Label {
	margin-right: 20px;
	}

	&--Input {
		margin-left: 4px;
		height: 20px;
		width: 95px;
		@include gradient;
		border: 1px solid rgba($black, 0.4);
		border-radius: 3px;
		color: $black;
	}
}
