@import '../colors';
@import '../mixins';

.TopMenu {
	background-color: $gray;
	display: flex;
	flex-direction: row;
  height: 40px;
	border-bottom: 1px solid rgba($black, 0.1);
	padding: 0 10px;
}

.MenuContainer {
	@include gradient;
}

.TopMenuButton {
	border: 0;
	padding: 0 5px;
	font-size: 16px;
	flex-direction: row;
	align-items: center;
	color: $black;
	background-color: $gray;
	&:hover {
		cursor: pointer;
	}
}

.TopMenuItemMenu {
	@include gradient;
	padding: 6px 15px;
	display: flex;
	flex-direction: column;

	& > div:not(:last-child) {
		margin-bottom: 5px;
	}
}
