@import './mixins';
@import './colors';

.App {
	display: flex;
	flex-direction: column;
	height: 99vh;
}

header {

}

.Content {
	flex: 1 0;
}

footer {
}

.PreStatusBarContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button {
	@include gradient;
	outline: none;
	border: 1px solid $black;
	border-radius: 4px;
	padding: 5px 10px;
	&:hover {
		cursor: pointer;
	}
}
