@import './colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
	cursor: url(./assets/cursor.svg), auto;
	font-family: 'Roboto', sans-serif;
	color: $black;
	background-color: $white;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}
